header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
  background: #eee;
  box-sizing: border-box;
}
header .inner {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}
.logo {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100px;
  font-weight: bold;
}

/* header-navi */

header .navi {
  margin: 0 0 0 auto;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  list-style: none;
}
header .navi li {
  margin: 5px 0 5px 40px;
}
header .navi li:first-child {
  margin-left: 0;
}
header .navi li a {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: #333;
}
header .navi li a:hover {
  text-decoration: underline;
}

/* layout */

body {
  margin: 0;
  padding: 0;
}
#main {
  height: 3000px;
}
h1 {
    font-family: 'Noto Serif JP', sans-serif;
    color:#3a45ab
}
h2 {
  font-family: 'Noto Serif JP', sans-serif;
  padding: 1rem 2rem;
  border-left: 4px solid #000;
  background: #f4f4f4;
}
h3 {
    font-family: 'Noto Serif JP', sans-serif;
}
a {
    font-family: 'Noto Serif JP', sans-serif;
}
body {
  background-color: skyblue;
}
