* {
	box-sizing: border-box;
}
body {
	font-size: 10pt;
}
h1 {
	font-size: 120%;
}
a:link, a:visited {
	color: #136;
}
.return-url {
	text-align: right;
}
input {
	width: 20rem;
	height: 2rem;
	border: 1px solid #999;
	border-radius: .2rem;
	padding-left: .2rem;
}
*:focus {
	outline: none!important;
	border: 2px solid #66c;
	border-radius: .2rem;
}
button {
	height: 2rem;
	padding: 0 .5rem;
}
dd {
	margin-bottom: 1rem;
}
